#navbarNav{
    justify-content: center; }
     /*separar columnas y bordes /*/
     
    
  
   
   body{
font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 0
  
  }
/*INICIO*/
/*estilos para video de PORTADA*/ 
.hero-container {  
    position: relative;  
    overflow: hidden;  
    height: 100vh;  
}  

 /* Estilos para las imágenes del inicio (mobile) */  
#conjuntoinicio {  
    position: relative; 
    text-align: center; 
    margin-bottom: 10px; / 
}  

.imagenverticalMobile {  
    width: 110px;  
    position: relative; 
    margin-bottom: -50px; 
    z-index: 10;  
    left:100px;
    bottom: -95px;
}  

.imagenhorizontalMobile {  
    width: 350px;  
    position: relative;  
    filter: brightness(0.7);  
    margin-top: -40px;  
}  

.container {  
    clear: both; 
  
}  


.featurette {  
    margin-top: 20px; 
}




/*CONTENEDOR DE CARD DEL INICIO*/ 


/* Fondos específicos para las tarjetas  pagina de habitos saludables trasladar */  
.fondodormir {  
    background-image: url('../img/dormir.jpg');  
    background-size: cover;   
    background-position: center;  
    border-radius: 15px;  
   
}  
/*trasladar a pagina de habitos saludables */
.fondocardgrupal {  
    background-image: url('../img/entrenamientogrupal.jpg');  
    background-size: cover;   
    background-position: center;  
    border-radius: 15px;  
  
}  
/* va en el inicio y pagina saludables FONDO DE CARD*/ 
.fondoenergeticoreceta {  
    background-image: url('../img/recetaenergica.jpg');  
    background-size: cover;   
    background-position: center;  
    border-radius: 15px;  

}
/* FONDO DE CARD  de "tus primeros 5km" */
.primeroskm{
    background-image: url('../img/primeroskm.jpg');  
    background-size: cover;   
    background-position: center;  
    border-radius: 15px;  
}

.tituloheroe{
    color: white!important;
}

 

.container {  
    margin-top: 20px; 
}  

.card {  
    margin-bottom: 20px; /* Espaciado entre las tarjetas  */
}  

.card-title {  
    text-align: center; 
} 



/*pagina de recetas*/ 

.ul { 
    justify-content: center;
    list-style-type: none;
    align-items: center;
}

/*ICONS FOOTER*/
.icons svg{
    width: 30px;
    height: 40px;
 margin: 10px;
}



/*pagina para indumentaria mobile*/ 
.fondoindumentaria{
    background-color: #ff8682;
}
/* ============================
   Estilos base para mobile  juego
   ============================


/* ============================
   Estilos SOBRE MI
   ============================*/

.sobremi-estilos{
    padding-top: 5px;
  
    background-color: #ff8682;  }

.mobile-mobile{
    background-color: #004aad;
    padding: 10px;
}
.fondorecetas{
    padding:20px;
    background-color: #e9e0c3;
}


/*MEDIAQUERYS DESKTOP *//*MEDIAQUERYS DESKTOP *//*MEDIAQUERYS DESKTOP *//*MEDIAQUERYS DESKTOP *//*MEDIAQUERYS DESKTOP *//*MEDIAQUERYS DESKTOP */

@media (min-width : 1024px) {
    /*navbar*/ 
.navbar-expand-lg .navbar-nav .nav-link{
        margin-left: 20px;
        margin-right: 20px;
              }

 /*logotipo centrrado*/
.navbar-brand {
    margin-right: 0%;
    padding-left: 30px;
  }
        
    .carousel-item img {
  width: 100%;
  height: 400px; 
  object-fit: cover; /
}
    body{
font-family: "Barlow Condensed", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin-top: 0;
  
  }
    .contenedor-header {
       width: 95%;
       
    }
	
/*imagenes del INICIO DEL HOME */
.imagenvertical{
    position: absolute;
   bottom:-600px;
    left: 950px;
    width: 22%;
  
 }
 .imagenhorizontal{
     position: absolute;
     bottom:-622px;
      left: 350px;
      width: 60%;
      filter: brightness(0.5);
      z-index: -15;
    }
 /*PARRAFO*/
 
 .contenedorrelativo{
     position:relative;
 }
 
 
 
 /*CONTENEDOR DE CARD DEL INICIO*/ 
 .estilosdeCardsInicio{
   margin-top:5px;
   padding-top: 4rem !important;
   background: linear-gradient(to top, #fd855a, rgba(253, 133, 90, 0)); 
}

 /*la data de los fechas de publicacion de Cards  */

.fechaCards {
    font-size: 1em;
    color: #f9fcff; /* Color gris claro */
  
  }
  .tarjetas{
    height:430px;
  }
 

#navbarNav, .container-fluid{
    background-color: rgb(255, 255, 255);
    
}
#navbarNav{
    height: 60px !important;
    font-size: x-large;
  
}
.banneriniciohome{
    margin-top: 48px;
}

 .featurette-divider{

    border-top: 5px solid#5a43e1;
    margin: 20px 0;
 }
 /*titulo de cards*/ 
 .tepuedeinteresar {
    text-align: center;
    font-size:xx-large;
    color:#3e3f41
 }
 
 .color-fondo{
  
  background: linear-gradient(to top, #ff7e5f, #f5e7e3);
 
}


/*pagina de recetas*/
.recetas-lista {
    justify-content: center;
    list-style-type: none !important;
    align-items: center;
}
.fondodesktop {
  background: linear-gradient(to top, #ff7e5f, #ebb09e); 
  padding-bottom:20px;
}

/*pagina para indumentaria*/
.fondoindumentaria {
    margin-top: 48px;
    background-color: rgb(209, 205, 236);
}

.textobannernutri{
    
    padding-top:55px;

  

}

.imgnutricion img{
  
  width:400px;
    height: 400px;

}
/*textos de la pagina de nutricio*/
.parrafonutricion{
    font-size: 1.9rem;
}
.headernutri{

 font-size: 2rem;

}
/*estilos bonitos del juego */
/*estilos bonitos del juego */
/*estilos bonitos del juego */
/*estilos bonitos del juego */
/*estilos bonitos del juego */
 body {
      font-family: 'Barlow Condensed', sans-serif;
      background-color: #f8f9fa;
    }
    .btn-opcion {
      font-size: 1.2rem;
      padding: 1rem;
    }
    .barra-salud {
      height: 25px;
      border-radius: 10px;
      overflow: hidden;
    }
    .barra-inner {
      height: 100%;
      text-align: center;
      color: white;
      font-weight: bold;
    }
   


/* Contenedor responsive para video de YouTube */
.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  overflow: hidden;
 
}

/* Iframe ocupa todo el contenedor */
.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

/*estilos SOBRE MI DESKTOP*/ 
.sobremi-estilos{
    height: 500px;
    width: 100%; 
    margin: 0 auto; /* centra horizontalmente */
    background-color: #f3c634;
    padding: 20px; 
      text-align: center;
 
   
}
/*esilos en seccion para la playlist/ running*/
/*esilos en seccion para la playlist/ running*/
/*esilos en seccion para la playlist/ running*/


.banner-musica {
      /*no borrar*/ 
 background-image: url('../img/logo-fondo.jpg'); 
 background-repeat: repeat;
  height: 400px; 
  margin: 0;
  padding: 0;
  width: 100%;
  position: relative;
 

}
/*playlist spotify*/ 
/*playlist spotify*/ 
/*playlist spotify*/ 
/*playlist spotify*/ 
.fondospotify{
    /*no borrar*/ 
  margin: 0;
  padding: 40px 40px;
  background-color: #949393;
  min-height: 100vh; /* asegura que cubra toda la altura */
    
}
.recetascolores {
      --bs-card-bg: #312121;
color:#f5e7e3
}


.contenido-banner { 
  /*no borrar*/ 
  background-color: rgba(11, 73, 187, 0.9); 
  padding: 2rem;
  border-radius: 0.5rem;
}


.fondoarticulo{
    background-color:#7fadeb; 
    width: 100%;
}
.fondoarticulogym{
    background-color:#ebb09e; 
    width: 100%;
}
.featurette {
  display: flex;
  align-items: center;

}
.textozapatillas{
    padding-right: 15px;
}
.textocolor{
    padding-left: 20px;
}

.imagenprincipal{    
    background-size: cover; 
    height: 480px;
    
   
}  
.fondorecetas{
    background-color:#ebb09e;
    padding-top: 20px;
    padding-bottom: 40px;
} 

  .card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
  }


   }